body {
    display: flex;
    flex-direction: column;
    font-size: calc(1rem + 0.5vw);
    font-weight: 400;
    font-family: 'Commissioner', Times, serif;
    margin: 0px;
    height: 100vh;
    background-image: url(Images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: calc(16px + 1vw);
    height: auto;
    filter: invert(1);
}

.logo {
    width: calc(16px + 2.5vw);
    height: auto;
}

.page {
    font-size: calc(1rem + 1.7vw);
}

.header {
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    color: #FFFFFF;
    min-width: 1050px;
    font-weight: 600;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 600;
    font-family: 'Commissioner', Times, serif;
    background-color: rgb(90, 168, 0);
    color: #FFFFFF;
    padding: 12px 24px;
    border: outset 1px green;
    border-radius: 30px;
    margin: 15px 0px;
}

.central {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.add {
    padding: 6px 15px;
}

.central > div {
    padding: 25px;
    padding-bottom: 0px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(0, 0, 0, 0.8);
}