body {
    display: flex;
    flex-direction: column;
    font-size: calc(1rem + 0.5vw);
    font-weight: 400;
    font-family: 'Commissioner', Times, serif;
    margin: 0px;
    height: 100vh;
    background-image: url(Images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: calc(16px + 1vw);
    height: auto;
    filter: invert(1);
}

.logo {
    width: calc(16px + 2.5vw);
    height: auto;
}

.page {
    font-size: calc(1rem + 1.7vw);
}

.header {
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    color: #FFFFFF;
    min-width: 1050px;
    font-weight: 600;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 600;
    font-family: 'Commissioner', Times, serif;
    background-color: rgb(90, 168, 0);
    color: #FFFFFF;
    padding: 12px 24px;
    border: outset 1px green;
    border-radius: 30px;
    margin: 15px 0px;
}

.central {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    max-width: 600px;
    padding: 25px;
}

.add {
    padding: 6px 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(0, 0, 0, 0.8);
}

dialog {
    padding: 20px 150px;
    border-radius: 30px;
    border: inset black 2px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

dialog[open] {
    opacity: 1;
    transform: translateY(0);
}

input {
    padding: 5px 5px;
    font-size: 20px;
}

form button {
    display: block;
    margin: 0 auto;
}

.book-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    min-width: 250px;
    max-width: 750px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Commissioner", sans-serif;
    text-align: center;
}

.book-card h3 {
    margin-bottom: 20px;
    color: #333;
    font-size: 35px;
}

.book-card p {
    font-size: 20px;
    margin: 3px 0;
}

.toggle-read-btn, .remove-btn {
    margin-top: 8px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-read-btn {
    background-color: #007bff; /* Blu */
    color: white;
}

.remove-btn {
    background-color: #dc3545; /* Rosso */
    color: white;
}

button:hover {
    background-color: #0056b3;
}

button:hover {
    background-color: #a71d2a;
}

#book-form-modal {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#book-form-modal[open] {
  opacity: 1;
  transform: translateY(0);
}
